      .cool {
  border-radius: 25px;
  border-color:rgb(235, 120, 120);
  background-color: #d90d0d;
  padding: 20px;
  width: 200px;
  height: 150px;
  transition: 0.75s;
  text-shadow: inset;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:150;
  font-size: 1.4em;
  color: white;
 display: block;
  margin: 0 auto;
  width:65em;
}

.cool:hover{
  background-color: hwb(0 100% 0% / 0.922);
  cursor: pointer;
  color:#870310;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}