body {
  background-image: url(9780843128277.jpg);
  background-size:cover;
  background-position-y: 4.767%;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

button {
    border-radius: 25px;
    border-color:rgb(235, 120, 120);
    background-color: #d90d0d;
    padding: 20px;
    height: 50%;
    transition: 0.75s;
    text-shadow: inset;
    font-weight:225;
    font-size: 4em;
    color: white;
    display: block;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover{
  background-color: hwb(0 100% 0% / 0.922);
  cursor: pointer;
  color:#870310;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}

#start{
  width:10em;
}



textarea{
  width: 40%;
  height: 500px;
  display: block;
  margin: auto; 
  color: black;
}

textarea p{
  color:black;
}